*.blend1
lib/textures/fouriesburg_mountain_midday_4k.exr~
lib/textures/fouriesburg_mountain_midday_4k_onlysky.exr~
lib/textures/fouriesburg_mountain_midday_4k_mask.png.kra
lib/textures/fouriesburg_mountain_midday_4k_onlysky.exr
